.welcome-jumbotron.container-fluid
  .jumbotron.jumbotron-fluid.hidden-sm-down
    .container.container-jumbotron
      %h1.display-3.jumbotron-text The stress of giving gifts is over.
      %p.lead.jumbotron-text Easily add gifts for others to give to you on your special day. Eliminate the worry of duplicate gifts by easily keeping track of purchased gifts.
      %br
      .col-lg-3.col-md-4.col-sm-6
        %a.btn.btn-info.btn-lg.btn-block.btn-sign-up.hand-icon{ 'data-toggle': 'modal', 'data-target': '#newUserModal' } Sign Up

  .container.container-mobile.hidden-md-up
    %h1.text-xs-center The stress of giving gifts is over.
    %p.text-xs-center Easily add gifts for others to give to you on your special day. Eliminate the worry of duplicate gifts by easily keeping track of purchased gifts.
    %br
    %a.btn.btn-info.btn-lg.btn-block.btn-sign-up.hand-icon{ 'data-toggle': 'modal', 'data-target': '#newUserModal' } Sign Up
    %br
    = image_tag 'main-public-image.jpg', alt: 'Denim Gift', class: 'mobile-public-image'

  = render 'login_modal'
  = render 'users/new_modal'