%tr
  %td.hand-icon{ onclick: "redirectTo('#{ user_gifts_url(user) }')" }= user.fullname
  %td.text-xs-center.hand-icon{ onclick: "redirectTo('#{ user_gifts_url(user) }')" }
    %strong= number_to_currency(current_user.amount_spent_on(user))
    %p.small-text SPENT