= f.text_field :name, class: 'form-control gift-field', placeholder: 'Name', required: true
.input-group.gift-field
  .input-group-addon $
  = f.text_field :price_as_dollars, class: 'form-control', placeholder: 'Price'
= f.text_area :description, class: 'form-control gift-field', placeholder: 'Description'
= f.text_area :url, class: 'form-control gift-field', placeholder: 'URL'