.text-xs-center
  %h1.d-inline Giftlet
  %span.tag.tag-warning.beta-tag-about BETA
.text-muted.text-xs-center Version 0.8.0
.text-muted.text-xs-center 2018, John Luscombe

= render 'logins/login_modal'