/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

a#navbar-dropdown {
  color: white;
}

a.nav-link.dropdown-toggle {
  font-family: 'Raleway-SemiBold', Helvetica, Arial, sans-serif;
  font-size: 0.8em;
}

.delete-gift,
.delete-gift:hover {
  color: gray;
  text-decoration: none;
}

.error-div, .error-div > * {
  color: #A94442;
}

.fa-cog, .fa-trash-o {
  color: gray;
}

.fa-trash-o {
  margin-left: 10px;
}

.gift-field {
  margin-bottom: 10px;
  width: 400px;
}

.hand-icon {
  cursor: pointer;
}

input#username, input#password {
  display: inline;
  width: 250px;
}

.nav-item, .navbar-text {
  line-height: 28px;
}

.navbar {
  border-radius: 0;
  margin-bottom: 50px;
}

.navbar-brand {
  font-family: 'Raleway-Bold', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}

.navbar-text {
  color: white;
}

td.new_account {
  padding-bottom: 5px;
  padding-right: 10px;
  padding-top: 5px;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('/assets/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('/assets/Raleway-Bold.ttf') format('truetype');
}

body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

@media (min-width: 1200px) {
  .container-fluid {
    margin-left: 120px;
    margin-right: 120px;
  }
}