/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

a#navbar-dropdown {
  color: white;
  padding-bottom: 8px;
  padding-top: 8px;
}

a.nav-link.dropdown-toggle {
  font-family: 'Raleway-SemiBold', Helvetica, Arial, sans-serif;
  font-size: 0.8em;
}

.beta-tag-about {
  overflow: auto;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 13px;
}

.beta-tag-navbar {
  margin-bottom: 16px;
  margin-top: 16px;
}

.brand {
  display: inline;
}

.btn, .form-control {
  border-radius: 0;
}

.btn.btn-outline-danger,
.btn.btn-outline-danger:active,
.btn.btn-outline-danger:focus,
.btn.btn-outline-danger:hover {
  background-color: transparent;
  border-color: #d9534f;
  color: #d9534f;
}

.btn.btn-login {
  color: white;
}

.btn.btn-login:hover {
  color: lightgrey;
  text-decoration: none;
}

button.close {
  color: white;
  opacity: 1;
  text-shadow: none;
}

.container-jumbotron {
  margin-left: 15px;
}

.container-mobile {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.delete-gift,
.delete-gift:hover {
  color: gray;
  text-decoration: none;
}

.edit-delete-icons, .save-cancel-buttons {
  white-space: nowrap;
}

.edit-delete-icons > a {
  text-decoration: none;
}

.edit-gift-container {
  text-align: center;
  vertical-align: middle;
}

.edit-gift-name, .new-gift-name {
  float: left;
  margin-bottom: 5px;
  margin-right: 1%;
  width: 49%;
}

.edit-gift-price, .new-gift-price {
  margin-bottom: 15px;
}

.edit-gift-url, .new-gift-url {
  float: left;
  margin-bottom: 5px;
  margin-left: 1%;
  width: 49%;
}

.error-div, .error-div > * {
  color: #A94442;
}

.fa-cog, .fa-trash {
  color: gray;
}

.fa-trash {
  margin-left: 10px;
}

.hand-icon {
  cursor: pointer;
}

input#username {
  margin-bottom: 15px;
}

.jumbotron {
  background-position: right top;
  background-image: image-url('main-public-image');
  background-size: cover;
}

.jumbotron > * {
  color: white;
}

.jumbotron-text {
  width: 60%;
}

.mobile-public-image {
  width: 100%;
}

.modal-content {
  border: none;
  border-radius: 0;
}

.modal-header {
  background-color: #0275d8;
  color: white;
}

.modal-title {
  font-family: 'Raleway-SemiBold', Helvetica, Arial, sans-serif;
}

.nav-item, .navbar-text {
  line-height: 36px;
}

.navbar {
  border-radius: 0;
  height: 68px;
  margin-bottom: 50px;
}

.navbar-brand {
  font-family: 'Raleway-Bold', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  height: 68px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.navbar-text {
  color: white;
}

.new-gift-description {
  margin-bottom: 10px;
}

.small-text {
  color: #999999;
  font-size: 0.8em;
  margin-bottom: 0;
}

.version {
  color: gray;
  margin-bottom: 0;
}

td.new_account {
  padding-bottom: 5px;
  padding-right: 10px;
  padding-top: 5px;
}

@font-face {
  font-family: 'Raleway';
  src: font-url('Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: font-url('Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: font-url('Raleway-Bold.ttf') format('truetype');
}

body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

@media (min-width: 1200px) {
  .container-fluid {
    margin-left: 120px;
    margin-right: 120px;
  }
}