.gift-header {
  display: flex;
  align-items: center;

  h1 {
    flex-grow: 1;
  }

  span {
    margin-left: 5px;
  }
}

#edit-gift, #new-gift {
  .card-header {
    display: flex;

    input, button {
      margin-right: 5px;
    }

    .gift-name-field {
      flex-grow: 1;
    }

    .gift-price-field {
      width: 100px;
    }
  }
}

.gift-price {
  margin-right: 8px;
}

.add-gift:hover {
  text-decoration: none;
}
