.sidebar {
  padding: 15px;

  a {
    color: black;

    &:hover {
      color: black;
      text-decoration: none;
    }

    .user-card {
      padding: 10px;

      .user-picture {
        border-radius: 20px;
        height: 40px;
        width: 40px;
      }

      .user-name {
        display: inline-block;
        margin-left: 5px;
        vertical-align: middle;
      }
    }
  }
}

.sidebar-background {
  background-color: #eee;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 68px;
  z-index: -1;
}