.sidebar {
  background: #eee;
  bottom: 0;
  left: 0;
  padding: 15px;
  position: absolute;
  top: 68px;
  width: 300px;

  a {
    color: black;

    &:hover {
      color: black;
      text-decoration: none;
    }

    .user-card {
      padding: 10px;

      &.selected-user {
        border-bottom: 5px solid #0275d8;
        padding-bottom: 5px;
      }

      .user-picture {
        border-radius: 20px;
        height: 40px;
        width: 40px;
      }

      .user-name {
        display: inline-block;
        margin-left: 5px;
        vertical-align: middle;
      }
    }
  }
}